:root {
    --bg-color1: #080808;
    --bg-color2: #101010;
    --bg-color3: #fff;
    --bg-color4: #ca0bf5;
    --bg-color5: #505050;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    align-items: flex-start;
}

.certificados {
    text-align: center;
    padding: 80px 0;
    background: var(--bg-color2);
    flex: 1;  
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.certificados-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.certificado {
    min-width: 25%;  
    max-width: 300px; 
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
    background: #333;  
    border-radius: 10px;
    margin: 0 10px;
}

.certificado img {
    width: 50%;  
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.certificado h3 {
    font-size: 1.2em;  
    margin: 10px 0;
    color: #fff;
}

.certificados h2 {
    margin: 30px 0 40px;
}

.certificado p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 20px;
}

.certificado:hover {
    transform: scale(1.05);
}

.certificado img:hover {
    transform: scale(1.1);
}

/* Tecnologias */
#tecnologias {
    background: #ca0bf5;
    box-shadow: 0 0 25px var(--bg-color4);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    gap: 20px;
    width: 40%; 
    justify-content: center;
}

.tec {
    background: #505050;
    box-shadow: 0 0 25px var(--bg-color5);
    border-radius: 5px;
    width: 40%;
    max-width: 70px; 
    margin: 10px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.tec:hover {
    transform: scale(1.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;  
    }

    .certificados-container,
    #tecnologias {
        width: 100%;
    }

    .certificado {
        width: 100%;
    }

    .tec {
        width: 25%;
    }
}