:root {
    --bg-color1: #080808;
    --bg-color2: #101010;
    --bg-color3: #fff;
    --bg-color4: #ca0bf5;
    --bg-color5: #560069;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ctt{
    width: 30px;
    height: 30px;
}

footer{
    text-align: center;
    padding: 20px;
    background: var(--bg-color5);
}