.projetos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projeto {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projeto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}